.container {
  user-select: none;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;

  font-size: 1rem;
  text-align: center;
  padding: 0 0.5rem;

  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:not(.readOnly):hover,
  &:not(.readOnly):focus {
    border-color: var(--primary-color);
  }
}
