$slider-height: 3px;

.container {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  height: $slider-height;
  background-color: var(--tertiary-color);
}

.selectedSegment {
  background-color: var(--primary-color);
}
